footer {
	background-color: #eceff1;
	padding: 100px 0px 0px 0px;
	margin-top: 10%;
}
 
footer a {
	font-size: 30px;
	text-align: center;
	color: #000;
}
 
.logo {
	width: 95%;
	margin-bottom: 11.5%;
}